*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: dashed;  
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #06060a;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    position: fixed;
    padding: 20px 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    z-index: 9;
    margin: auto;
    font-weight: 900;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;

}


.logo{
    font-weight: 500;
    font-size: 35px;
    background: yellow;
    color: white;
    justify-content: flex-start;
}

.navbar.media a{
    color: red;
    font-size: 18px;
    margin: 0 16px;
}

.Link-group{
    list-style: none;
    display: flex;
}

.Link a{
    color: rgb(255, 255, 255);
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 30px;
    margin: 0, 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}
.Link a:visited{
    color: aquamarine;
}

.Link a:hover, .Link.active a{
    opacity: 1;
}

.Link a:active{
    color: rgb(231, 42, 17);
}




/* home section */
.home-section.active,
.about-section.active,
.contact-section.active,
.project-section.active
{
    position: relative;
    opacity: 1;
    z-index: 0;

}

.home-section{
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
    background: #06060a;

}
.home-content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-one{
    font-size: 45px;
    font-weight: 700;
    color: red;
}


.text-two{
    font-size: 49px;
    color: white;
    font-weight: 600;
    margin-left: -3px;
}

.text-three{
    font-size: 30px;
    color: #f2ff00ff;
    font-weight: 600;
    margin: 5px 0;
}

.text-four{
    font-size: 23px;
    color: rgb(6, 164, 255);
    margin: 5px 0;
    font-weight: 700;
}

.button{
   position: relative;
    outline: none;
   
    padding: 10px 25px;
    border-radius: 6px;
    font-weight: 300;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 400;
    color: rgb(226, 116, 43);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.button:hover{
    border-color: white;
    background-color: blue;
    color: blueviolet;
}

.home-img{
    position: absolute;
    top: 15;
    right: 0;
    height: 80vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 50%;

}

.bubble img{
    width: 50px;
    align-items: center;
    animation: bubble 7s linear infinite;
}
.bubble{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0; 
}

@keyframes bubble{
    0%{
        transform: translate(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translate(-80vh);
        opacity: 0;
    }
}

.bubble img:nth-child(1){
    animation-delay: 1s;
   
}
.bubble img:nth-child(3){
    animation-delay: 2s;
}

.bubble img:nth-child(3){
    animation-delay: 3s;
}

.bubble img:nth-child(4){
    animation-delay: 4s;
}

.bubble img:nth-child(5){
    animation-delay: 5s;
}
.bubble img:nth-child(6){
    animation-delay: 6s;
}
.bubble img:nth-child(7){
    animation-delay: 7s;
}


/* about section */
.about-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
    background: #06060a;


}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container{
    position: relative;
}

.about-info{
    color: white;
    opacity: 0.5;
    font-size: 20px;
    line-height: 30px;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    opacity: 0.8;
}

.download-cv-btn{
    position: absolute;
    bottom: 20px;
    left: 30%;
    transform: translate(-50px);
    padding: 10px 25px;
    color: white;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s;
    background: black;
    outline: none;

}

.download-cv-btn:hover{
    background: black;
}

/*  skills */

.skill-section{
    position: relative;
    margin: 100px 0;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: white;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skills-container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    color: white;
}

.skills-card{
    position: relative;
}
.skill-img{
    display: block;
    margin: auto;
    height: 200px;
}
.skill-name{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin: 30px;
}

.skill-info{
    text-align: center;
    opacity: 0.5;
    font-size: 20px;
    line-height: 30px;
}

.skill-level{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
    font-size: 30px;
    font-weight: 900;
}

.skills-card:nth-child(1) .skill-level{
    background: #ffed4f70;
    border-color: yellow ;
    color: blue;
    font-size: 30px;
}
.skills-card:nth-child(2) .skill-level{
    background: #ff4f4f5e;
    border-color: #ff4f4f;
    color: yellow;
}
.skills-card:nth-child(3) .skill-level{
    background: #4fa1ff57;
    border-color: #4fa0ff;
    color: red;
}
.skills-card:nth-child(4) .skill-level{
    background: #52ff4f59;
    border-color: #52ff4f;
    color: black;
}
.skills-card:nth-child(5) .skill-level{
    background: rgba(100, 59, 59, 0.726);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 238, 0);
}
.skills-card:nth-child(6) .skill-level{
    background: rgba(255, 196, 0, 0.288);
    border-color: rgb(255, 196, 0);
    color: rgb(25, 0, 255);
}
.skills-card:nth-child(7) .skill-level{
    background: rgba(109, 59, 59, 0.808);
    border-color: rgb(255, 0, 0);
    color: rgb(208, 255, 0);
}
.skills-card:nth-child(8) .skill-level{
    background: rgba(167, 245, 77, 0.315);
    border-color: rgb(200, 255, 0);
    color: rgb(111, 0, 255);
}
.skills-card:nth-child(9) .skill-level{
    background: rgba(146, 63, 139, 0.404);
    border-color: rgb(247, 0, 255);
    color: rgb(255, 251, 0);
}
.skills-card:nth-child(10) .skill-level{
    background: rgba(64, 94, 94, 0.658);
    border-color: rgb(0, 255, 221);
    color: rgb(255, 0, 170);
}
.skills-card:nth-child(11) .skill-level{
    background: rgba(46, 47, 100, 0.767);
    border-color: rgb(119, 0, 255);
    color: rgb(251, 255, 0);
}

/* timeline */
.timeline{
    display: block;
    width: 80%;
    margin: 150px auto;

}

.timeline .heading{
    margin-bottom: 150px;
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: white;
    display: block;
    margin: 0;
    position: relative;
    background: #f00;
}

.card:nth-child(even){
    margin-left: auto;
}

.card:nth-child(even):before{
    content: '';
    position: absolute;
    left: -15%;
    top:50%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid black;
    border-radius: 50%;
}

.card:nth-child(even):after{
    content: '';
    position: absolute;
    left: -8.5%;
    top:50%;
    transform: translate(-50%);
    width: 7%;
    height: 2px;
   background: white;
   z-index: -1;
}

.card:nth-child(odd):before{
    content: '';
    position: absolute;
    right: -15%;
    top:50%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid black;
    border-radius: 50%;
}

.card:nth-child(odd):after{
    content: '';
    position: absolute;
    right: -8.5%;
    top:50%;
    transform: translate(-50%);
    width: 7%;
    height: 2px;
   background: white;
   z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before{
    background: red;
}
.card:nth-child(3), .card:nth-child(3):before{
    background: rgb(0, 255, 106);
}
.card:nth-child(4), .card:nth-child(4):before{
    background: rgb(0, 110, 255);
}
.card:nth-child(5), .card:nth-child(5):before{
    background: rgb(255, 217, 0);
}
.card:nth-child(6), .card:nth-child(5):before{
    background: rgb(255, 0, 179);
}

.card:nth-child(even) .card-body::before{
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed white;
    z-index: -1;

}

.card-title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}




/* contact section */

.contact-section{
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
    padding: 100px 150px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    background-image: url(img/background2.jpg);

}

.contact-form input, .contact-form textarea{
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255 , 0.2);
    border: 1px solid white;
    margin-bottom: 30px;
    border-radius: 10px;
    text-transform: capitalize;
    color: white;
    padding: 5px 10px;
}

::placeholder{
    color: white;

}

#msg{
    height: 280px;
    resize:none;
    font-family: sans-serif;

}

.form-submit-btn{
    background: red;
    color: white;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.map{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid white;
    background:rgba(255, 255, 255 , 0.2);
    border-radius: 10px;
}

.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}




/* project sectio */
.project-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 150px 150px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;

}
.project-heading{
    font-size: 100px;
    background: #252525;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #06060a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px turquoise;
}

.project-list{
    display: grid;
    height: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    grid-gap: 100px;
    column-gap: 20px;
    column-count: 2;
    column-gap: 40px;
    padding: 5px;
}

.project-card{
    height: 480px;
    position: relative;
    float: left;
    width: 50%;
    padding: 5px;
    flex: 40%;
    grid-template-columns: repeat(2,1fr);
    
}

.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
    column-gap: 100px;
    
}

.project-content{
    position: relative;
    padding: 40px;
    color: white;
    text-align: center;
    transition: .5s;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    opacity: 0;
}

.project-title{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info{
    margin: 40px;
    font-size: 20px;
    line-height: 30p;
    text-align: center;

}


.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: 34px auto;
}

.project-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    padding: 7px;
}


.project-btn-live{
    background: yellow;
    background-color: yellow;
    border: 2px solid white;
    cursor: pointer;
    padding: 7px;

}

.project-card:hover .project-img{
    filter: blur(30px);
}

.project-card:hover .project-content{
    opacity: 0.5;
}










